natives
.minecraft/*
!.minecraft/mods/
!.minecraft/config/
!.minecraft/kubejs/
instance.cfg

.minecraft/config/roughlyenoughitems/pinyin_double.properties

.minecraft/config/roughlyenoughitems/pinyin.properties

.minecraft/config/roughlyenoughitems/config.json5
